html {
    min-height: 100%;
    font-size: .85em;
    margin:0 auto;
}

input[type=submit] {

    background-color:#2a89fc;
    color:#fff;
    border:0px groove #000;
    font-weight:bold;
    height:35px;
    font-family:'Trebuchet MS';

}

input[type=submit]:hover {
    background-color:#5ac4f2;
}

#eData {

    background-color:lightblue;
    font-weight:bolder;

}

#form_data {

    background-color:#eee;
    color:#000;
    margin:4px 4px 4px 4px;
    border:solid;

}

body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-image:url("/Content/themes/base/images/stripe.png");
    background-repeat:repeat-x;
    width:960px;
    margin:0 auto;
}

#pic1 {
position:absolute;
z-index:-1;
bottom:0;
left:-30px;    opacity:0.4;

}

#pic2 {
position:absolute;
z-index:-1;
bottom:0;
right:0;
}

#page {
    background-color:#fff;
    position:absolute;
    top:0;
    min-width:500px;
    -moz-box-shadow: 0 0 35px #000;
    -webkit-box-shadow: 0 0 35px #000;
    box-shadow: 0 0 35px #000;
}

#sidebar input {
    border: 1px solid #000;
    display: inline;
}

#logo {
    width:100%;
    background-image:url("/Content/themes/base/images/ecologo.png");
    background-repeat:no-repeat;
    background-color: #000;
    height:250px;
}

#sidebar {
    width:150px;
    float:left;
    margin-left:20px;
    position:relative;
    margin-bottom:140px;
}

#content {
    margin-left:200px;
    margin-right:20px;
    top:0;
    bottom:0;
    position:relative;
    margin-bottom:140px;
    background-color:#fff;
    max-width:700px;

}

header, footer, nav, section {
    display: block;
}

/* Navigation and their links */
nav {
    width:100%;
    background-color:#232323;
    height:50px;
    position:relative;
    margin-top:200px;
    float:left;
}

ul
{
    list-style-type:none;
    float:left;
margin-left:-40px;    margin-top:0;
}


li
{
    width:85px;
    height:49px;
    background-color:#232323;
    font-size:1em;
    font-family:'Trebuchet MS';
    float:left;
}

li:hover {
    background-color:#cd7e29;
}

li a {
    margin-top:15px;
    margin-left:20px;
    float:left;
    color:#fff;
    text-decoration:none;
}
