@{
    ViewBag.Title = "Home";
}
<h2>Home</h2>
<p>

Read a description of the project that is under the Home-View.
    @Html.ActionLink("Project description", "ProjectDescription");
    Och sen har vi ju en text som ska löpa neråt nudå.
        Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
    Och sen har vi ju en text som ska löpa neråt nudå.
 
</p>
