@{
    ViewBag.Title = "Hem";
}
<h1>Hem</h1>
<p>
Välkommen till den svenska communityn för snålkörning.
Det här är en mötesplats för att få tips och tricks
från likasinnade och möjlighet att anordna utmaningar, 
läsa recensioner om nya bilar och test hur bränsesnåla
de är egentligen.

Varför inte registrera dig idag? Det är enkelt.
</p>
@Html.Partial("~/Views/Partials/LoginForm.cshtml")
